fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-ollama
langgraph-checkpoint-mongodb
motor
pinecone
pymongo
pydantic
python-dotenv
groq
httpx
openai
